


body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h2 {
    color: #0d6efd;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #0d6efd;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button, .btn-kembali {
    background-color: #0d6efd;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
}

button:hover, .btn-kembali:hover {
    background-color: #0b5ed7;
}

footer{text-align: center;}

/* Tombol umum */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 2px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  transition: 0.2s ease;
}

/* Tombol Tambah */
.btn-add {
  background-color: #007bff;
  
}
.btn-add:hover {
  background-color: #0056b3;

}

/* Tombol Edit */
.btn-edit {
  background-color: #28a745;
}
.btn-edit:hover {
  background-color: #1e7e34;
}

/* Tombol Hapus */
.btn-delete {
  background-color: #dc3545;
}
.btn-delete:hover {
  background-color: #a71d2a;
}

.tombol-container {
  margin-left: 122px; 
  margin-top: 20px;   
}

